<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>roomNo</key>
		<string>101</string>
		<key>alreadyBook</key>
		<true/>
		<key>bookDate</key>
		<string>2016-08-23</string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>102</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>103</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>104</string>
		<key>alreadyBook</key>
		<true/>
		<key>bookDate</key>
		<string>2016-08-29</string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>105</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>106</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>107</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>108</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>109</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>109</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>110</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>111</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
	<dict>
		<key>roomNo</key>
		<string>112</string>
		<key>alreadyBook</key>
		<false/>
		<key>bookDate</key>
		<string></string>
	</dict>
</array>
</plist>
